= form_for @approval do |f|
  - if @approval.errors.any?
    #error_explanation
      %h2= "#{pluralize(@approval.errors.count, "error")} prohibited this approval from being saved:"
      %ul
        - @approval.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :version
    = f.text_field :version
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
