%h1 Listing approvals

%table
  %tr
    %th Version
    %th User
    %th
    %th
    %th

  - @approvals.each do |approval|
    %tr
      %td= approval.version
      %td= approval.user
      %td= link_to 'Show', approval
      %td= link_to 'Edit', edit_approval_path(approval)
      %td= link_to 'Destroy', approval, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Approval', new_approval_path
