= form_for @accounting_standard do |f|
  - if @accounting_standard.errors.any?
    #error_explanation
      %h2= "#{pluralize(@accounting_standard.errors.count, "error")} prohibited this accounting_standard from being saved:"
      %ul
        - @accounting_standard.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
