%h1 Listing gaaps

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @gaaps.each do |gaap|
    %tr
      %td= gaap.title
      %td= link_to 'Show', gaap
      %td= link_to 'Edit', edit_gaap_path(gaap)
      %td= link_to 'Destroy', gaap, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Accounting standard', new_gaap_path
