.page-header
  %h3 New topic

= form_for @topic, html: {class: "form-horizontal"} do |f|
  = render 'shared/error_messages', object: f.object
  
  .form-group
    .col-sm-2
      = f.text_field :title, placeholder: 'Compose new topic...', class: "form-control"
  
  .form-group
    .col-sm-2
      = f.text_area :content, placeholder: 'Compose new topic...', class: "form-control"
  
  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-2
      = f.password_field :password, class: "form-control"
  
  .form-group
    = f.label :password_confirmation, 'Confirmation', class: "col-sm-2 control-label"
    .col-sm-2
      = f.password_field :password_confirmation, class: "form-control"
  
  .form-group
    .col-sm-offset-2.col-sm-3
      = f.submit 'Create my account', class: 'btn btn-success'
