%h1 Listing accounting_standards

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @accounting_standards.each do |accounting_standard|
    %tr
      %td= accounting_standard.title
      %td= link_to 'Show', accounting_standard
      %td= link_to 'Edit', edit_accounting_standard_path(accounting_standard)
      %td= link_to 'Destroy', accounting_standard, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Accounting standard', new_accounting_standard_path
