%h1 Listing industry_titles

%table
  %tr
    %th Title
    %th Industry
    %th User
    %th
    %th
    %th

  - @industry_titles.each do |industry_title|
    %tr
      %td= industry_title.title
      %td= industry_title.industry
      %td= industry_title.user
      %td= link_to 'Show', industry_title
      %td= link_to 'Edit', edit_industry_title_path(industry_title)
      %td= link_to 'Destroy', industry_title, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Industry title', new_industry_title_path
