.page-header
  %h3 New company
  %p= "#{Industry.find(session[:industry]).title}"

= form_for @company, html: {class: "form-horizontal"} do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  -# Select country
  .form-group
    = f.label :country, class: "col-sm-2 control-label"
    .col-sm-2
      = f.country_select :country, {priority_countries: [:ru, :us]}, {class: "col-sm-2 form-control"}
  
  -# Company title
  .form-group
    = f.label :title, class: "col-sm-2 control-label"
    .col-sm-2
      = f.text_field :title, class: "form-control"
  
  -# Industry
  = f.hidden_field :industry_id, :value => session[:industry]

  -# Buttons
  .form-group
    .col-sm-offset-2.col-sm-2
      %ul.list-inline
        %li= f.submit 'Save', class: "btn btn-success"
        %li= link_to 'Cancel', reports_path(industry: session[:industry], period: session[:period]), class: "btn btn-default"
