%h1 Listing industry_indicators

%table
  %tr
    %th Industry
    %th Indicator
    %th
    %th
    %th

  - @industry_indicators.each do |industry_indicator|
    %tr
      %td= industry_indicator.industry.title
      %td= industry_indicator.indicator.title
      %td= link_to 'Show', industry_indicator
      %td= link_to 'Edit', edit_industry_indicator_path(industry_indicator)
      %td= link_to 'Destroy', industry_indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Industry indicator', new_industry_indicator_path
