.page-header
  %h3 New indicator for #{Industry.find(session[:industry]).title} industry

= form_for @indicator do |f|
  - if @indicator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@indicator.errors.count, "error")} prohibited this indicator from being saved:"
      %ul
        - @indicator.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.fields_for :formula do |ff|
      = ff.label :formula
      = ff.text_field :notation, class: :notation
    
    = f.hidden_field :industry_id, :value => session[:industry]
  
  .actions
    = f.submit 'Save'

%ul
  - @indicators.each do |indicator|
    %li.badge{id: indicator.title, title: indicator.title}
      = indicator.title
