.page-header
  %h3 Order of #{@industry.title} indicators

= form_for :indicator, :url => update_all_path(industry: params[:industry]), :html => { :method => :put } do

  %ul.sortable.list-group
    - @indicators.each do |indicator|
      = fields_for "indicator[]", indicator do |indicator_fields|
        %li.list-group-item
          = indicator.title
          = indicator_fields.hidden_field :sequence, class: :sequence

  .actions
    = submit_tag :Save, class: "btn btn-success reorder"

= link_to 'Back', indicators_path
