<h1>Editing indicators</h1>

<%= form_for :indicator, :url => update_all_path, :html => { :method => :put } do %>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-Mail</th>
    </tr>
    <% @indicators.each do |indicator| %>
      <%= fields_for "indicator[]", indicator do |indicator_fields| %>
    <tr>
      <td><%= indicator.title %></td>
      <td><%= indicator_fields.text_field :order %></td>
    </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to 'Back', indicators_path %>
