= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :company
    = f.select :company_id, options_from_collection_for_select(@companies, :id, :title, @report.company_id)
    = f.hidden_field :period_id, :value => session[:period]

  .field
    = f.fields_for :versions, @new_version do |v|
      = v.hidden_field :user_id, :value => current_user.id

      - @indicators.each do |i|
        .field
          = i.title
          = v.fields_for :values, @new_values do |val|
            = val.text_field :value, :value => @report.values.where(indicator_id: i.id).pluck(:value).pop
            = val.hidden_field :indicator_id, :value => i.id

  .actions
    = f.submit 'Save'
