= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  %h2
    = @report.company.title + ', ' + @period.title

  - @indicators.each do |i|
    .field
      = i.title
      = f.fields_for :values do |v|
        - if i.id == v.object.indicator_id
          = v.text_field :value
          = v.hidden_field :indicator_id, :value => i.id

  .actions
    = f.submit 'Save'

= @report.users.id