= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :company
    = f.select :company_id, options_from_collection_for_select(@companies, :id, :title, @report.company_id)
  .field
    = f.label :period
    = f.select :period_id, options_from_collection_for_select(@periods, :id, :title, @report.period_id)

  = f.fields_for :values do |v|
    .field
      = @titles.shift
      = v.text_field :value
      = v.hidden_field :indicator_id

  .actions
    = f.submit 'Save'
