- # Header
.page-header
  %h3 New report
  %p= "#{Industry.find(session[:industry]).title}, #{Period.find(session[:period]).title}"


- # Form
= form_for @report, html: {class: "form-horizontal"} do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg


  - # Choose company
  .form-group
    = f.label :company, class: "col-sm-2 control-label"
    .col-sm-2
      = f.select :company_id, options_from_collection_for_select(@companies, :id, :title, @report.company_id), {}, {class: "form-control"}
      = f.hidden_field :period_id, :value => session[:period]
  
  
  - # Choose accounting standard
  .form-group
    = f.label :accounting_standard, class: "col-sm-2 control-label"
    .col-sm-2
      = f.select :accounting_standard_id, options_from_collection_for_select(AccountingStandard.all, :id, :title), {prompt: 'Select'}, {class: "form-control"}


  - # Maker and rating
  // = f.hidden_field :maker_id, :value => current_user.id
  // = f.hidden_field :rating, :value => current_user.rating
  
  
  - # Indicators' values
  - @indicators.each do |i|
    .form-group
      = f.label "", i.title, class: "col-sm-2 control-label"
      = f.fields_for :values do |v|
        = v.hidden_field :indicator_id, :value => i.id
        
        .col-sm-2
          = v.text_field :value, class: "form-control"
        .col-sm-2.currency
          = v.select :currency_id, options_from_collection_for_select(@currencies, :id, :title), {prompt: 'Select currency'}, {class: "form-control"}


  - # Buttons
  .form-group
    .col-sm-offset-2.col-sm-3
      %ul.list-inline
        %li= f.submit 'Save', class: "btn btn-success"
        %li= link_to 'Cancel', reports_path(industry: @industry.id, period: @period.id), class: "btn btn-default"


- # Temp
/ - Report.all.each do |report|
/   %p= report.inspect
/ - Value.all.each do |value|
/   %p= value.inspect
