.page-header
  = link_to 'New report', new_report_path(industry: @industry.id, period: @period.id), class: "btn btn-success pull-right"
  %h3 All reports

= form_tag reports_path, method: 'get', class: 'selector' do

  = select_tag :industry, options_for_select(@industries, @industry.id), onchange: 'this.form.submit()'

  = select_tag :period, options_from_collection_for_select(@periods, :id, :title, @period.id), onchange: 'this.form.submit()'

  = submit_tag 'submit'
  = javascript_tag "$('.selector input').hide()"


%table.table
  %tr
    %th Company
    
    - @indicators.each do |indicator|
      %th= indicator.title
    
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.company.title
      
      - user_id = report.users.order("rating DESC").first.id
      - version_id = report.versions.where(user_id: user_id).pluck(:id).pop
      
      - indicators_values = Hash[*report.values.collect {|it| [it.indicator_id.to_s, it.value]}.flatten]
      
      - @indicators.each do |indicator|
        / - if indicator.formula
        /   %td= eval(indicator.formula.notation.gsub(/(?<=\[)(\d+)(?=\])|(?:[\[\]])/, indicators_values))
        / - else
        /   %td= report.values.where(indicator_id: indicator.id).pluck(:value).pop
        %td= report.values.where(indicator_id: indicator.id, version_id: version_id).pluck(:value).pop

      - if user_id == current_user.id
        %td.text-center= link_to 'Approve', rate_path(user: user_id, version: version_id), class: 'btn btn-success btn-xs disabled'
      - elsif report.approvals.last
        - if report.approvals.last.user.id == current_user.id
          %td.text-center= link_to 'Approved', rate_path(user: user_id, version: version_id), class: 'btn btn-success btn-xs disabled'
      - else
        %td.text-center= link_to 'Approve', rate_path(user: user_id, version: version_id), class: 'btn btn-success btn-xs'

      - if report.versions.last.user.id == current_user.id
        %td.text-center= link_to 'Edit', edit_report_path(report), class: 'btn btn-warning btn-xs'
      - else
        %td.text-center= link_to 'Amend', amend_report_path(report), class: 'btn btn-warning btn-xs'
      
      / %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }
      
%ul.list-inline
  - unless @industry.id == 2
    %li= link_to "New indicator (common)", new_indicator_path(industry: 0), class: 'btn btn-primary btn-xs'
  / %li= link_to "New indicator (specific for #{@industry.title})", new_indicator_path
  %li= link_to 'New industry', new_industry_path, class: 'btn btn-primary btn-xs'
  %li= link_to 'New company', new_company_path, class: 'btn btn-primary btn-xs'
  %li= link_to 'New period', new_period_path, class: 'btn btn-primary btn-xs'
