%h1 Listing reports

%table
  %tr
    %th Company
    %th Period
    %th Industry
    
    - @indicators.each do |indicator|
      %th= indicator.title
    
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.company.title
      %td= report.period.title
      %td= report.industry.title
      
      - @indicators.each do |indicator|
        %td= report.values.where(indicator_id: indicator.id).pluck(:value).pop

      %td= link_to 'Show', report
      %td= link_to 'Edit', edit_report_path(report)
      %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Report', new_report_path
