-# 'New report' button
= link_to 'New report', new_report_path(industry: @industry.id, period: @period.id), class: "btn btn-success pull-right"


-# Industry and period selectors
= form_tag reports_path, method: 'get', class: 'selector' do
  %ul.list-inline
    %li= select_tag :industry, options_from_collection_for_select(@industries, :id, :title, @industry.id), onchange: 'this.form.submit()', class: 'form-control'

    %li= select_tag :period, options_from_collection_for_select(@periods, :id, :title, @period.id), onchange: 'this.form.submit()', class: 'form-control'

  = submit_tag 'submit'
  = javascript_tag "$('.selector input').hide()"


-# Reports table
%table.table

  -# Table header
  %tr
    %th Company
    - @indicators.each do |indicator|
      %th.text-right= indicator.title
    %th Maker
    %th Checker
    %th.text-center Check
    %th.text-center Edit

  -# Reports list
  - @reports.each do |report|
    %tr
      %td= report.company_title
      
      / - indicators_values = Hash[*report.values.collect {|it| [it.indicator_id.to_s, it.value]}.flatten]
      
      - @indicators.each do |indicator|
        / - if indicator.formula
        /   %td= eval(indicator.formula.notation.gsub(/(?<=\[)(\d+)(?=\])|(?:[\[\]])/, indicators_values))
        / - else
        /   %td= report.values.where(indicator_id: indicator.id).pluck(:value).pop
        %td.text-right= number_with_precision(report.indicator_value(indicator), precision: 0, delimiter: ',')
      
      -# Maker (highlighted if he is user)
      - if report.author_id == current_user.id
        %td.text-primary= "#{report.author_name}, #{report.maker_rating}"
      - else
        %td= "#{report.author_name}, #{report.maker_rating}"
      
      -# Checker (highlighted if he is user)
      - unless report.best_version.checker.nil?
        - if report.checker_id == current_user.id
          %td.text-primary= report.checker_name
        - else
          %td= report.checker_name
      - else
        %td -
      
      
      -# 'Check' button
      - path = check_path(user: report.author_id, version: report.version_id, completeness: report.completeness)
      
      -# 'Check' glyphicon
      - if report.checker_id.nil?
        - glyphicon = 'glyphicon-unchecked'
      - else
        - glyphicon = 'glyphicon-check'
      
      -# td
      %td.text-center
        -# Disabled link if user is maker/checker of report or checker's rating is not enough for check
        - if report.author_id == current_user.id || (report.approvals.any? && report.checker_id == current_user.id) || (report.maker_rating + (1000 - report.maker_rating) * 0.1 * report.completeness.to_f > current_user.rating)
          %span{ class: "glyphicon #{glyphicon} text-muted" }
        - else
          = link_to path do
            %span{ class: "glyphicon #{glyphicon}" }
      
      
      -# 'Edit' button
      - if report.author_id == current_user.id
        - path = edit_report_path(report)
      - else
        - path = amend_report_path(report, maker: report.author_id, reward: report.maker_reward, completeness: report.completeness)
      
      %td.text-center
        - if report.maker_rating + (1000 - report.maker_rating) * 0.1 * report.completeness.to_f < current_user.rating
          =link_to path do
            %span.glyphicon.glyphicon-edit
        - else
          %span.glyphicon.glyphicon-edit.text-muted
      
      
-# 'New indicator/industry/etc' buttons
%ul.list-inline
  %li= link_to 'New industry', new_industry_path, class: 'btn btn-primary btn-sm'
  %li= link_to 'New company', new_company_path, class: 'btn btn-primary btn-sm'
  %li= link_to "New indicator", new_indicator_path(industry: 0), class: 'btn btn-primary btn-sm'
  %li= link_to 'New period', new_period_path, class: 'btn btn-primary btn-sm'

%p now from job!