= link_to 'New report', new_report_path(industry: @industry.id, period: @period.id), class: "btn btn-success pull-right"

= form_tag reports_path, method: 'get', class: 'selector' do
  %ul.list-inline
    %li= select_tag :industry, options_from_collection_for_select(@industries, :id, :title, @industry.id), onchange: 'this.form.submit()', class: 'form-control'

    %li= select_tag :period, options_from_collection_for_select(@periods, :id, :title, @period.id), onchange: 'this.form.submit()', class: 'form-control'

  = submit_tag 'submit'
  = javascript_tag "$('.selector input').hide()"


%table.table
  %tr
    %th Company
    
    - @indicators.each do |indicator|
      %th.text-right= indicator.title
    
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.company.title
      
      - user_id = report.users.order("rating DESC").first.id
      - version_id = report.versions.where(user_id: user_id).pluck(:id).pop
      
      - indicators_values = Hash[*report.values.collect {|it| [it.indicator_id.to_s, it.value]}.flatten]
      
      - @indicators.each do |indicator|
        / - if indicator.formula
        /   %td= eval(indicator.formula.notation.gsub(/(?<=\[)(\d+)(?=\])|(?:[\[\]])/, indicators_values))
        / - else
        /   %td= report.values.where(indicator_id: indicator.id).pluck(:value).pop
        %td.text-right= report.values.where(indicator_id: indicator.id, version_id: version_id).pluck(:value).pop
      
      
      /# Approval button
      - if user_id == current_user.id
        - path      = rate_path(user: user_id, version: version_id)
        - glyphicon = 'glyphicon-unchecked'
        - title     = 'Mark as confirmed'
      - elsif report.approvals.last
        - if report.approvals.last.user.id == current_user.id
          - path      = rate_path(user: user_id, version: version_id)
          - glyphicon = 'glyphicon-check'
          - title     = 'Confirmed'
      - else
        - path      = rate_path(user: user_id, version: version_id)
        - glyphicon = 'glyphicon-unchecked'
        - title     = 'Mark as confirmed'
      
      %td.text-center
        = link_to path, 'data-toggle' => 'tooltip', title: title do
          %span{ class: "glyphicon #{glyphicon}" }
      
      
      /# Edit button
      - if report.versions.last.user.id == current_user.id
        - path = edit_report_path(report)
      - else
        - path = amend_report_path(report)
      
      %td.text-center
        =link_to path, 'data-toggle' => 'tooltip', title: 'Edit report' do
          %span.glyphicon.glyphicon-edit
      
      
%ul.list-inline
  - unless @industry.id == 2
    %li= link_to "New indicator (common)", new_indicator_path(industry: 0), class: 'btn btn-primary btn-sm'
  / %li= link_to "New indicator (specific for #{@industry.title})", new_indicator_path
  %li= link_to 'New industry', new_industry_path, class: 'btn btn-primary btn-sm'
  %li= link_to 'New company', new_company_path, class: 'btn btn-primary btn-sm'
  %li= link_to 'New period', new_period_path, class: 'btn btn-primary btn-sm'
