!!!
%html
  %head
    %title= request.env['PATH_INFO']
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

  .container
    - if user_signed_in?
      %span= current_user.email
      = link_to 'Выйти', destroy_user_session_path, :method => :delete
    - else
      = link_to 'Войти', new_user_session_path
      = link_to 'Зарегистрироваться', new_user_registration_path
    
    %p.notice= notice
    %p.alert= alert
    = yield

    .navi
    %br
    = link_to 'Reports', reports_path
    = link_to 'Industries', industries_path
    = link_to 'Companies', companies_path
    = link_to 'Indicators', indicators_path
    = link_to 'Periods', periods_path
    
      