!!!
%html
  %head
    %title= request.env['PATH_INFO']
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

  .navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        = link_to 'Benchmark', reports_path, class: 'navbar-brand'
      .navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Reports', reports_path
          %li= link_to 'Industries', industries_path
          %li= link_to 'Companies', companies_path
          %li= link_to 'Indicators', indicators_path
          %li= link_to 'Periods', periods_path
    
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.email, '#'
            %li
              = link_to destroy_user_session_path, :method => :delete do
                %span.glyphicon.glyphicon-log-out
          - else
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path
    
  .container-fluid
  
    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-success= alert
    = yield
