!!!
%html
  %head
    %title= request.env['PATH_INFO']
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

  = yield

  .navi
  %br
  = link_to 'Reports', reports_path(industry: params[:industry])
  = link_to 'Industries', industries_path
  = link_to 'Companies', companies_path(industry: params[:industry])
  = link_to 'Indicators', indicators_path(industry: params[:industry])
  = link_to 'Periods', periods_path
